html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GO */

body
{
	height: 100%;
	line-height: 1;
  font-family: arial;
}

/* HEADER */

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: rgba(223, 241, 247, 0.9);
}

.menu
{
    font-family: ;
    font-weight: bold;
}

#profil
{
  border-radius: 100%;
  width: 3.5em;
  height: 3.5em;
	margin-left: 2em;
	margin-right: 1.5em;
}

.link
{
	transition: all 0.3s ease-in-out;
}

.link:hover
{
	box-shadow: 0 3px 0 0 grey;
}

/* GENERAL INTRODUCTION */

a
{
  text-decoration: none;
  color: grey;
  display: flex;
  align-items: center;
  font-size: 180%;
}

#introduction
{
    background-image: url("1.jpg");
    padding-right: 2.5%;

}

#title1
{
    color: white;
    padding-top: 15%;
    text-align: center;
    font-size: 160%;
}

#text1
{
    color: #C7D4D9;
    font-size: 100%;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 12%;
		font-family:
}

/* MY WORK */
#work{
	padding-bottom: 5%;
}

#title2
{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-weight: bold;
	font-size: 130%;
}

#aldrine
{
  width: 50%;
  height: 30%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 5%;
}

#aldrine_link
{
  box-shadow: 0 0 5px 0 #000;
	transition: all 0.2s ease-in-out;
}

#aldrine_link:hover
{
  box-shadow: 0 0 12px 0 #000;
}

/* CONTACT */

#contact
{
  background-image: url("3.jpeg");
  color: #DFF1F7;
  display: flex;
  justify-content: space-around;
  padding-top: 8%;
  padding-bottom: 6%;
}

#title3
{
  font-weight: bold;
  color: white;
	font-size: 150%;
}

#text2
{
  padding-top: 10%;
	margin-bottom: 20%;
}

#logo
{
	display: flex;
	justify-content: center;
}

#logo1
{
	padding-right: 15%;
}
/* FORM */

#form
{
  background-color: white;
  color: black;
  border-radius: 3%;
}

#form *
{
  display: flex;
  justify-content: center;
  padding: 6%;
}

/* FOOTER */

footer
{
  background-color: #DFF1F7;
  text-align: center;
  padding: 1%;
  font-size: 60%;
}
